In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from glob import glob
from datetime import datetime as dt

In [55]:
df_main = pd.read_csv('station_main.csv')
df_main = df_main.dropna()
df_main = df_main.reset_index(drop=True)
df_main['level_cm'].value_counts()

print("min water level: ", min(df_main['level_cm']))
print("max water level: ", max(df_main['level_cm']))

min water level:  141.0
max water level:  358.0

In [64]:
#define low, medium and high for water level
#from 141 to 214 is low
#from 215 to 288 is medium
#from 289 to 358 is high
#binning level_cm aka water level to 3 cats. low, medium, high
bins = [141,214,288,358]
labels = ["low","medium","high"]
df_main['binned level'] = pd.cut(df_main['level_cm'],bins)
# df['binned'] = pd.cut(df['percentage'], bins=bins, labels=labels)
df_main['binned level'] = pd.cut(df_main['level_cm'], bins=bins, labels = labels)
df_main['binned level'].value_counts()

#applying the same for the flow
#from 1 to 14 is low
#from 14 to 27 is medium
#from 27 to 39 is high
bins_2 = [1, 14, 27, 39]
df_main['binned flow'] = pd.cut(df_main['flow_m2_s'],bins)
# df['binned'] = pd.cut(df['percentage'], bins=bins, labels=labels)
df_main['binned flow'] = pd.cut(df_main['flow_m2_s'], bins=bins_2, labels = labels)

In [65]:
df_main

                      time  level_cm  flow_m2_s binned level binned flow
0      2014-01-01 01:00:00     182.0       7.19          low         low
1      2014-01-01 02:00:00     182.0       7.19          low         low
2      2014-01-01 03:00:00     182.0       7.19          low         low
3      2014-01-01 04:00:00     182.0       7.19          low         low
4      2014-01-01 05:00:00     182.0       7.19          low         low
...                    ...       ...        ...          ...         ...
34361  2017-12-31 19:00:00     255.0      15.90       medium      medium
34362  2017-12-31 20:00:00     259.0      16.40       medium      medium
34363  2017-12-31 21:00:00     263.0      16.90       medium      medium
34364  2017-12-31 22:00:00     268.0      17.50       medium      medium
34365  2017-12-31 23:00:00     272.0      18.00       medium      medium

[34366 rows x 5 columns]

In [63]:
print("value statictics: ", df_main['flow_m2_s'].value_counts())
print("min flow: ", min(df_main['flow_m2_s']))
print("max flow: ", max(df_main['flow_m2_s']))

value statictics:  2.33     162
2.42     152
3.80     140
3.67     134
2.73     131
        ...
24.40      1
23.90      1
30.80      1
31.50      1
27.60      1
Name: flow_m2_s, Length: 1077, dtype: int64
min flow:  1.69
max flow:  39.0

In [75]:
#now calculate the IZ and IR of water level in classes of water flow 
#number of water level (low) if the flow is low:
count_1 = 0
count_2 = 0
count_3 = 0
count_4 = 0
count_5 = 0
count_6 = 0
count_7 = 0
count_8 = 0
count_9 = 0
#count for:
# water level       water flow
#               low     medium    high
#      low    count_1  count_2  count_3
#     medium  count_4  count_5  count_6
#      high   count_7  count_8  count_9
for i in range(0,len(df_main)):
    if df_main['binned level'][i] == "low": 
        if df_main['binned flow'][i] == "low": count_1 += 1 
        if df_main['binned flow'][i] == "medium": count_2 += 1
        if df_main['binned flow'][i] == "high": count_3 += 1
    if df_main['binned level'][i] == "medium":
        if df_main['binned flow'][i] == "low": count_4 += 1 
        if df_main['binned flow'][i] == "medium": count_5 += 1
        if df_main['binned flow'][i] == "high": count_6 += 1
    if df_main['binned level'][i] == "high":
        if df_main['binned flow'][i] == "low": count_7 += 1 
        if df_main['binned flow'][i] == "medium": count_8 += 1
        if df_main['binned flow'][i] == "high": count_9 += 1

In [76]:
print(count_1,",",count_2,",",count_3)
print(count_4,",",count_5,",",count_6)
print(count_7,",",count_8,",",count_9)

29754 , 0 , 0
2078 , 1449 , 0
0 , 723 , 295

In [77]:
#Inconsistency rate
IR = ((29754 - 29754) + (2078+1449-2078) + (723 + 295 - 723))/ len(df_main)
IR

0.05074783215969272